footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fbfbfb;
}

#logo {
    width: auto;
    height: 100px;
}

.clearfix {
    background-color: #fbfbfb00;
}